.marina {
  padding: 2em 1.5em 0;
  font-size: .9em;
  color: #a9a9a9;
  letter-spacing: 0.1px;
  text-align: justify;
  line-height: 1.5;
}

.marina > * {
  padding-bottom: 3em;
}

.marina h2 {
  margin: 0;
  margin-bottom: 1em;
  font-size: 2em;
  text-align: center;
  text-transform: capitalize;
  color: #a9a9a9;
}

.marina strong {
  background: linear-gradient(104deg,rgba(255,130,130,0) .9%,rgb(0, 57, 108) 2.4%,rgba(57, 92, 147, .8) 5.8%,rgba(140, 170, 231, .1) 93%,rgba(0, 57, 108, .7) 96%),linear-gradient(183deg,rgba(130,255,173,0),rgba(0, 48, 98, .3) 7.9%,rgba(255,130,130,0) 15%);
  text-shadow: -6px 8px 9.8px rgba(57, 92, 147, .7);
  padding: 0.1em 0.5em;
  border-radius: 6px;
}

.manifesto ul {
  padding-left: 1em;
  margin-bottom: 3em;
}

.manifesto li {
  margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
  .marina {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .marina {
    font-size: 1em;
    letter-spacing: .5px;
    line-height: 1.6;
    padding: 0;
  }
}

@media screen and (min-width: 1440px){
  .marina {
    font-size: 1.3em;
    letter-spacing: .7px;
    line-height: 1.7;
  }
}