.banner {
  display: flex;
  flex-direction: column;
  padding: 1em 0.3em;
}

.intro_heading {
  order: 1;
  margin-bottom: 1.5em;
}

.intro_heading h1 {
  text-align: center;
  font-size: 2.5em;
  margin: 0;
  font-weight: 800;
  background: linear-gradient(90deg, #C15900, #C13A5C);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro_heading span {
  display: block;
  font-size: 0.5em;
  -webkit-text-fill-color: white;
}

.intro_text {
  order: 3;
  color: #cecece;
}

.intro_text p {
  font-size: 0.9em;
  padding: 0.3em 1em;
  letter-spacing: 0.3px;
  line-height: 1.5;
}

.intro_text strong {
  font-size: 1.1em;
  /* color: #395C93; */
  background: linear-gradient(104deg,rgba(255,130,130,0) .9%,rgb(0, 57, 108) 2.4%,rgba(57, 92, 147, .8) 5.8%,rgba(140, 170, 231, .1) 93%,rgba(0, 57, 108, .7) 96%),linear-gradient(183deg,rgba(130,255,173,0),rgba(0, 48, 98, .3) 7.9%,rgba(255,130,130,0) 15%);
  text-shadow: -6px 10px 9.8px rgba(57, 92, 147, .7);
  padding: 0.1em 0.2em;
  border-radius: 6px;
}

.picture {
  order: 2;
  margin-bottom: 1.5em;
}

.picture img {
  border-radius: 4px;
}

.cta {
  background-color: #00396C;
  color: #fff;
}

@media screen  and (min-width: 768px) {
  .intro_text strong {
    padding: 0.1em 0.5em;
  }

  .picture {
    width: 60%;
    margin: 0 auto;
  }
}

@media screen  and (min-width: 1024px) {
  .banner {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .intro_heading {
    width: 100%;
  }

  .intro_text {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
  }

  .intro_text strong {
    padding: 0.1em 0.5em;
  }

  .picture {
    order: 3;
    width: 50%;
    margin: 0;
  }
}

@media screen  and (min-width: 1440px) {
  .intro_heading h1 {
    font-size: 3.5em;  
  }

  .intro_text {
    width: 60%;
    font-size: 1.3em;
  }

  .picture {
    width: 40%;
  }
}