.banner {
  display: flex;
  flex-direction: column;
  padding: 1em 0.3em;
}

.intro_heading {
  margin-bottom: 1.5em;
}

.intro_heading h1 {
  text-transform: capitalize;
  text-align: center;
  font-size: 2em;
  margin: 0;
  font-weight: 800;
  background: linear-gradient(90deg, #C15900, #C13A5C);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro_heading span {
  display: block;
  font-size: 0.5em;
  -webkit-text-fill-color: white;
}

.intro_text {
  color: #cecece;
}

.intro_text p {
  font-size: 0.9em;
  padding: 0.3em 1em;
  letter-spacing: 0.3px;
  line-height: 1.5;
}

.intro_text strong {
  font-size: 1.05em;
  font-weight: bold;
  color: #cecece;
}

.picture {
  position: relative;
  width: 70%;
  margin: 2em auto;
}

.nft_badge {
  position: absolute;
  z-index: 1;
  transform: scale(0.7);
  top: -30px;
  right: -60px;
  animation: 2s ease-in-out 1s infinite alternate pulse;
}

.picture img {
  border-radius: 4px;
}

.cta {
  background-color: #00396C;
  color: #fff;
}

@media screen  and (min-width: 768px) {
  .intro_text {
    width: 80%;
    margin: auto;
  }

  .picture {
    width: 50%;
    margin: 3em auto 0;
  }

  .nft_badge {
    position: absolute;
    z-index: 1;
    transform: rotate(344deg);
    right: -50px;
  }
}

@media screen  and (min-width: 1024px) {
  .banner {
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }

  .intro_heading {
    width: 100%;
  }

  .intro_heading h1 {
    text-align: left;
  }

  .intro_text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
  }

  .intro_text p {
    padding: 0;
  }

  .intro_text p:nth-child(3) {
    margin-bottom: 3em;
  }

  .picture {
    width: 50%;
    margin: 0;
  }
}

@media screen  and (min-width: 1440px) {
  .intro_heading h1 {
    font-size: 2em;  
  }

  .intro_text {
    width: 60%;
    font-size: 1.3em;
  }

  .picture {
    width: 40%;
  }
}

@keyframes pulse {
  from {
    transform: rotate(344deg), scale(0.7);
  }
  to {
    transform: scale(0.8);
  }
}