.team {
  padding: 2em;
}

.memberclone {
  margin-bottom: 3em;
}

.team img {
  border-radius: 4px;
}

.team h3 {
  text-align: center;
  text-transform: capitalize;
  color: #a9a9a9;
  font-size: 1.5em;
}

.team h3 span {
  display: block;
  font-size: 0.65em;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .teamlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .teammemeber {
    width: calc(50% - 20px);
  }
}

@media screen and (min-width: 1024px) {
  .teamlist {
    justify-content: space-evenly;
  }

  .teammemeber {
    width: calc(40% - 20px);
  }
}

@media screen and (min-width: 1440px) {
  .teammemeber {
    width: calc(20% - 20px);
  }
}