.wrapper {
  padding: 1em;
}

.wrapper h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 2em;
  padding: .5em 0;
  margin: 0;
  font-weight: 800;
  background: linear-gradient(90deg, #C15900, #C13A5C);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper p {
  font-size: 0.9em;
  padding: 0.3em 1em;
  letter-spacing: 0.3px;
  line-height: 1.5;
}

.wrapper strong {
  font-size: 1.05em;
  font-weight: bold;
  color: #cecece;
}

.picture {
  display: flex;
  justify-content: center;
}

.picture img {
  border-radius: 4px;
}

.actions {
  padding: 0 1.5em;
}

@media screen and (min-width: 1024px) {
  .wrapper p {
    font-size: 1em;
    letter-spacing: .5px;
    line-height: 1.6;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3.5em;
  }

  .row .picture {
    width: 30%;
  }

  .row .col {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    justify-content: space-around;
  }

  .row:nth-child(2) {
    flex-direction: row-reverse;
  }

  .row:nth-child(2) p {
    width: 50%;
    margin-right: 2em;
  }

  .row:nth-child(3) {
    flex-direction: column-reverse;
    padding: 0 3em;
  }

  .row:nth-child(3) .picture {
    width: 100%;
  }

  .actions {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper > p {
    text-align: center;
  }

  .wrapper p {
    font-size: 1.3em;
    letter-spacing: .7px;
    line-height: 1.8;
  }

  .row:first-child {
    align-items: center;
  }

  .row:first-child .picture {
    width: 350px;
    height: 700px;
  }

  .row:nth-child(3) {
    flex-direction: row;
    padding: 0 3em;
  }

  .row:nth-child(3) .picture {
    width: 30%;
  }

  .row:nth-child(3) p {
    width: 50%;
    padding-left: 2em;
  }
}