@font-face {
  font-family: futura;
  src: url(../fonts/Futura_Std_Bold_Oblique.otf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #333333;
  overflow-x: hidden !important;
}

h1, h2, h3 {
  font-family: 'futura', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
