.wrapper {
  padding: 1em;
}

.wrapper h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 2em;
  padding: .5em 0;
  margin: 0;
  font-weight: 800;
  background: linear-gradient(90deg, #C15900, #C13A5C);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 0.9em;
  padding: 0.3em 1em;
  letter-spacing: 0.3px;
  line-height: 1.5;
}

.wrapper strong {
  font-size: 1.05em;
  font-weight: bold;
  color: #cecece;
}

.actions {
  padding: 0 1.5em;
}

@media screen and (min-width: 768px) {
  .description {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .description > p {
    font-size: 1em;
    letter-spacing: .5px;
    line-height: 1.6;
  }

  .actions {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
    .description > p {
    font-size: 1.3em;
    letter-spacing: .7px;
    line-height: 1.8;
  }
}