.roadmap {
  margin-top: 3em;
  padding: 1em;
}

.card {
  margin-bottom: 5em;
  padding: 1.5em;
  background-color: #191919;
  border: 1px solid #a9a9a9;
  border-radius: 4px;
}

.title {
  text-align: center;
  font-size: 1em;
  color: #cecece;
}

.title span {
  font-size: 2em;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1024px) {
  .card {
    width: 48%;
    margin-top: 2em;
    margin-bottom: 0;
  }

  .card:first-of-type {
    margin-top: 10em;
  }

  .card:nth-child(2n + 2) {
    margin-left: auto;
  }

  .line {
    width: 3px;
    position: absolute;
    background-color: #cecece;
    height: 1500px;
    left: 50%;
  }

  .progression {
    width: 3px;
    height: 80px;
    position: absolute;
    background: linear-gradient(90deg, #C15900, #C13A5C);
  }

  .start_line {
    position: absolute;
    left: 42%;
    transform: rotate(347deg);
    animation: 2s ease-in-out 1s infinite alternate pulse;
  }

  .progression_dot {
    position: absolute;
    left: 49.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #cecece;
  }

  .inner_dot {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000;
  }
}

@media screen and (min-width: 1440px) {
  .start_line {
    left: 45%;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}