.roadmap {
  position: relative;
  margin-top: 3em;
  padding: 1em;
}

.card {
  margin-bottom: 5em;
  padding: 1.5em;
  background-color: #191919;
  border: 1px solid #a9a9a9;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}

.card:first-of-type {
  margin-top: 10em;
}

.title {
  text-align: center;
  font-size: 1em;
  color: #cecece;
}

.title span {
  font-size: 2em;
  font-weight: bold;
}

.line {
  width: 3px;
  position: absolute;
  background-color: #cecece;
  height: 2000px;
  left: 50%;
}

.progression {
  width: 3px;
  height: 50px;
  position: absolute;
  background: linear-gradient(90deg, #C15900, #C13A5C);
}

.start_line {
  position: absolute;
  left: 25%;
  transform: rotate(347deg);
  animation: 2s ease-in-out 1s infinite alternate pulse;
}

@media screen and (min-width: 375px) {
  .line {
    height: 1800px;
  }

  .start_line {
    left: 28%;
  }
}

@media screen and (min-width: 425px) {
  .start_line {
    left: 30%;
  }
}

@media screen and (min-width: 768px) {
    .line {
    height: 1700px;
  }

  .start_line {
    left: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 48%;
    margin-top: 2em;
    margin-bottom: 0;
  }

  .card:nth-child(2n + 2) {
    margin-left: auto;
  }

  .line {
    height: 1425px;
  }

  .start_line {
    left: 42%;
  }

  .progression_dot {
    position: absolute;
    right: -7%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #cecece;
  }

  .card:nth-child(2n + 2) .progression_dot {
    left: -6%;
  }

  .inner_dot {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000;
  }
}

@media screen and (min-width: 1440px) {
  .line {
    height: 1390px;
  }

  .start_line {
    left: 45%;
  }

  .progression_dot {
    right: -6%;
  }

  .card:nth-child(2n + 2) .progression_dot {
    left: -5.5%;
  }
}

@media screen and (min-width: 2560px) {
  .line {
    height: 1350px;
  }

  .start_line {
    left: 47%;
  }

  .progression_dot {
    right: -5.1%;
  }

  .card:nth-child(2n + 2) .progression_dot {
    left: -5%;
  }
}

@keyframes pulse {
  from {
    transform: rotate(360deg), scale(1);
  }
  to {
    transform: scale(0.9);
  }
}