.banner {
  background-image: url(/src//assets/images/hero_2.jpg);
  background-position: center;
  background-size: cover;
  height: 110vh;
  position: relative;
  z-index: -10;
  margin-top: -30vh;
  margin-bottom: 15vh;
}
.timer-cont {
  background-color: rgba(0,0,0,0.9);
  padding: 40px 20px;
  position: absolute;
  box-sizing: border-box;
  z-index: 100001;
  font-weight: 700;
  transition: all 0.5s;
  color: #fff;
  left: 0;
  right: 0;
  top: 50%;
  width: 40%;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
/* 
.banner:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 90%;
  width: 50.2%;
  background: #d2d2de;
  transform: skew(0deg, 6deg);
}
.banner:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 90%;
  width: 50%;
  background: #d2d2de;
  transform: skew(0deg, -6deg);
} */
.banner-btn {
  background-color: #4753d6;
  padding: 25px 30px;
  position: absolute;
  z-index: 100001;
  box-sizing: border-box;
  font-weight: 700;
  transition: all 0.5s;
  color: #fff;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  width: 250px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.banner-btn:hover {
  background-color: #6c77ea !important;
}
@media screen and (max-width: 768px) {
  .timer-cont {
    padding: 20px;
  }
  .timer-cont p {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 500px) {
  .timer-cont {
    width: 60%;
    top: 60%;
  }
  .timer-cont p {
    font-size: 0.9em;
  }
  .banner:before {
    width: 50.5%;
  }
}
